* {
  box-sizing: border-box;
}
.nav ul li {
  display: inline;
  padding:0 25px 0 25px;
  font-size: 25px;
  font-weight: 400;
} 
li:hover {
  background: chocolate;
  padding-left: 0px;
  color: brown;
  display: inline;
  border-bottom: 2px solid rgb(12, 12, 10);
} 
a {
  text-decoration: none;
  
}